<ion-view>
  <ion-content>
    <div class="card padding">
      {{announce.announcement.content}}
      <br>
      <small>by {{announce.announcement.author}}</small>
    </div>
    <div class="card padding">
      <textarea ng-model="announce.newComment" style="width:100%;height:100px" placeholder="Put your comment here..."></textarea>
      <br>
      <br>
      <button class="button-block button button-positive" ng-click="announce.submitComment()">Submit</button>
    </div>
    <ion-list>
      <ion-item collection-repeat="comment in announce.comments.slice().reverse()">
        {{comment.content}}
        <br>
        <small>by {{comment.author}}</small>
      </ion-item>
    </ion-list>
    <!--<pre>
      <code>{{ post | json }}</code>
    </pre>-->
  </ion-content>
</ion-view>
